<?xml version="1.0" encoding="UTF-8" ?><results xmlns="http://mokemoko.dip.jp/"><api_version>1.00</api_rersion><results_available>6</results_available><results_returned>6</results_returned><results_start>1</results_start><site><code>1203</code><url>http://ameblo.jp/nakanoyu-onsen/</url></site><site><code>81206</code><url>http://ameblo.jp/gsc-mikatan/</url></site><site><code>22040</code><url>http://ameblo.jp/star-light-akahoshi/</url></site><site><code>1003</code><url>http://ameblo.jp/tomochin-63/</url></site><site><code>99</code><url>http://ameblo.jp/matsushima-nahomi/</url></site><site><code>05</code><url>http://ameblo.jp/pen5-t/</url></site></results>
