[% META
  title = "詳細"
%]
[% WRAPPER wrapper.tt %]
  [% base = "/static/images" %]
  [% image = c.stash.image %]
  <a href="[% c.config.image_domain _ '/post/show/' _ image.gid %]">
    [% IF image.original_url.match('\.webm') %]
      <video src="[% base _ image.original_url %]" autoplay="" loop="" />
    [% ELSE %]
      <img src="[% base _ image.original_url %]" />
    [% END %]
  </a>
  <p />
  <a href="../list?mode=1&aid=[%  image.aid %]">
    [% image.artist.name %]
  </a>
[% END %]
