[% META
  title = "一覧"
%]
[% WRAPPER wrapper.tt %]
  <h1>一覧</h1>
  <hr />
  <table>
    <tr>
      <th>aid</th>
      <th>gid</th>
    </tr>
    [% FOREACH image = c.stash.images %]
      <tr>
      <td>[% image.artist.id | html %]</td>
      <td>[% image.gid | html %]</td>
      </tr>
    [% END %]
  </table>
[% END %]
