[% META
  title = "一覧"
%]
[% WRAPPER wrapper.tt %]
  <h3>一覧</h3>
  <hr />
  [% base = "/static/images/" %]
  [% FOREACH image = c.stash.images %]
    <img src="[% base _ image.path | html %]" width="150"/>
  [% END %]
[% END %]
