[% META
  title = "一覧"
%]
[% WRAPPER wrapper.tt %]
  <h3>一覧</h3>
  <hr />
  [% base = "/static/images/" %]
  [% FOREACH image = c.stash.images %]
    <a href="[% c.config.image_domain _ '/post/show/' _ image.gid %]">
      <img src="[% base _ 'thumb/' _ image.gid _ '.jpg' %]" width="150"/>
    </a>
  [% END %]
[% END %]
