[% META
  title = "一覧"
%]
[% WRAPPER wrapper.tt %]
  [% FOREACH stock = c.stash.stocks %]
    <a href="[% stock.link %]">[% stock.title %]</a><br />
  [% END %]
  [% base = "/static/images" %]
  [% FOREACH image = c.stash.images %]
    <span id="[% image.gid %]" class="controllable" style="position:relative;">
    <a href="[% './detail/' _ image.gid %]">
      <img src="[% base _ image.thumb_url %]" style="height: 256px;"/>
    </a>
    </span>
  [% END %]
[% END %]
